VITE_GOOGLE_API_KEY=your_google_api_key_here
VITE_SLIDES_PRESENTATION_ID=your_google_slides_id_here
VITE_ACCESS_PIN=1234
VITE_ALLOWED_IPS=62.232.48.14
VITE_REDIRECT_URI=https://luigirawed.github.io/enjoy_tv_screens/
